<div class="text-center">
    <div class="jumbotron">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-3 font-weight-normal">
                {{astronautId ? 'Modify astronaut' : 'Create astronaut'}}
            </h1>
            <input type="hidden" name="id" [value]="astronautId" readonly>
            <div class="form-group">
                <label for="name">Name:</label>
                <input class="form-control" id="name" formControlName="name" />
                @if(f['name'].errors?.['required']) {
                    <div class="alert alert-danger" role="alert">
                        Name is required
                    </div>
                }
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" id="email" formControlName="email" />
                @if(f['email'].errors?.['required']) {
                    <div class="alert alert-danger" role="alert">
                        Email is required
                    </div>
                }
            </div>
            <div class="row">
                <button class="btn btn-block btn-info" type="submit" [disabled]="form.invalid">
                    Submit
                </button>
                <button class="btn btn-block btn-danger" (click)="backClicked()">
                    Return
                </button>
            </div>
          </form>
    </div>
</div>